#github {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 149px;
  height: 149px;
  background: url(forkme.png);
}

* html #github {
  background: url(forkme.gif);
}

#github span {
  display: none;
}

